# Opérateurs MongoDB sur les tableaux : `$all`, `$elemMatch`, `$size`

Dans cette section, nous explorons les opérateurs MongoDB qui permettent de filtrer les documents contenant des tableaux (arrays).

Les opérateurs :
- `$all` → vérifier que **plusieurs valeurs** sont présentes dans un tableau
- `$elemMatch` → vérifier qu’un **élément du tableau respecte plusieurs conditions**
- `$size` → vérifier la **taille exacte** d’un tableau

Nous allons insérer des documents avec des tableaux, puis illustrer chaque opérateur.

In [1]:
# Connexion à MongoDB local (via Docker)
from pymongo import MongoClient
import pandas as pd

# Connexion à MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client.testdb

In [2]:
# Nouvelle collection "students"
students = db.students
students.delete_many({})  # On nettoie

# Insertion de documents avec tableaux
students.insert_many([
    {
        "name": "Manon",
        "skills": ["Python", "MongoDB", "Docker"],
        "scores": [80, 85, 90]
    },
    {
        "name": "Damien",
        "skills": ["Python", "SQL"],
        "scores": [60, 75, 70]
    },
    {
        "name": "Karim",
        "skills": ["MongoDB", "Python", "Docker"],
        "scores": [90, 92, 95]
    },
    {
        "name": "Marie",
        "skills": ["Java", "Python"],
        "scores": [55, 65]
    }
])

InsertManyResult([ObjectId('6888a517f36aaad9d48a45e3'), ObjectId('6888a517f36aaad9d48a45e4'), ObjectId('6888a517f36aaad9d48a45e5'), ObjectId('6888a517f36aaad9d48a45e6')], acknowledged=True)

## Opérateur `$all`

L’opérateur `$all` permet de vérifier qu’un **tableau contient toutes les valeurs spécifiées**, peu importe l’ordre.

---

**Exemple pédagogique :**  
Je veux retrouver les étudiants qui maîtrisent **à la fois** `"Python"` et `"Docker"`.

Cela revient à dire :  
> "Ce document doit contenir **tous** les éléments de ma liste, même s’il en a d’autres en plus."

Même si un étudiant connaît aussi d’autres technologies, il sera sélectionné tant qu’il possède **au moins ces deux-là** dans son tableau `skills`.

In [3]:
# Requête : trouver les étudiants qui ont "Python" ET "Docker" dans leur tableau de compétences
query = {
    "skills": {
        "$all": ["Python", "Docker"]
    }
}

# Exécution
results = list(students.find(query))

# Affichage
pd.DataFrame(results)

                        _id   name                     skills        scores
0  6888a517f36aaad9d48a45e3  Manon  [Python, MongoDB, Docker]  [80, 85, 90]
1  6888a517f36aaad9d48a45e5  Karim  [MongoDB, Python, Docker]  [90, 92, 95]

## Opérateur `$elemMatch`

L’opérateur `$elemMatch` permet de rechercher les documents où au moins un élément d’un tableau respecte plusieurs conditions en même temps.

---

**Exemple pédagogique :**  
Je veux retrouver les étudiants qui ont **une note supérieure à 80** **et** **inférieure à 95** dans leur tableau `scores`.

Cela revient à dire :  
> "Je veux un document où **au moins un score est à la fois supérieur à 80 et inférieur à 95**."

In [4]:
# Requête : trouver les étudiants ayant au moins un score > 80 ET < 95
query = {
    "scores": {
        "$elemMatch": {
            "$gt":80,
            "$lt":95
        }
    }
}

# Exécution
results = list(students.find(query))

# Affichage
pd.DataFrame(results)

                        _id   name                     skills        scores
0  6888a517f36aaad9d48a45e3  Manon  [Python, MongoDB, Docker]  [80, 85, 90]
1  6888a517f36aaad9d48a45e5  Karim  [MongoDB, Python, Docker]  [90, 92, 95]

## Opérateur `$size`

L’opérateur `$size` permet de sélectionner les documents où un **tableau contient exactement un certain nombre d’éléments**.

---

**Exemple pédagogique :**  
Je veux retrouver les étudiants qui ont **exactement 3 compétences** dans le tableau `skills`.

Cela revient à dire :  
> "Je veux uniquement les documents dont le tableau `skills` contient 3 éléments, pas plus, pas moins."

In [5]:
# Requête : trouver les étudiants ayant uniquement 3 compétences
query = {
    "skills": {
        "$size": 3
    }
}

# Exécution
results = list(students.find(query))

# Affichage
pd.DataFrame(results)

                        _id   name                     skills        scores
0  6888a517f36aaad9d48a45e3  Manon  [Python, MongoDB, Docker]  [80, 85, 90]
1  6888a517f36aaad9d48a45e5  Karim  [MongoDB, Python, Docker]  [90, 92, 95]

---

## Conclusion

Dans ce notebook, on a appris à utiliser les opérateurs MongoDB sur les tableaux :

- `$all` : vérifier qu’un tableau contient plusieurs valeurs
- `$elemMatch` : vérifier qu’un seul élément du tableau respecte plusieurs conditions
- `$size` : vérifier la taille exacte d’un tableau

Ces opérateurs sont utiles quand les documents contiennent des listes, comme des compétences, des notes ect..

Les exemples utilisés sont simples et permettent de bien comprendre comment ça fonctionne.