# Opérateurs de requête - comparaison: 
`$eq, $ne, $gt, $gte, $lt, $lte, $in, $nin`

## 1. Connexion à la base de données

Avant toute opération sur une base de données, il est nécessaire de s'y connecter:

In [104]:
from pymongo import MongoClient

# Définition du port à utiliser [à changer en fonction la configuration de votre installation locale]
MONGODB_LOCAL_PATH = "mongodb://localhost:27018/"

# Définition de la base de données à utiliser
MONGODB_NAME = "comparison_operator_db"

# Connexion
client = MongoClient(MONGODB_LOCAL_PATH)
db = client[MONGODB_NAME]

## 2. Création d'une collection pour un environnement de test

Les commandes suivantes permettent de créer une collection servant d'environnement de test pour les différentes opérations de comparaison de ce notebook

In [105]:
try:
    # Création de la collection
    db_user = db.create_collection("User")
except:
    # Suppression puis création de la collection
    db.User.drop()
    db_user = db.create_collection("User")

On va remplir cette collection avec un petit nombre de documents

In [106]:
documents = [
    {
        "name": "Paul",
        "age": 32,
        "weight": 79.3,
        "is_employed": True,
        "address": ["France","Nord","Lille"],
    },
    {
        "name": "Maria",
        "age": 52,
        "weight": 65.2,
        "is_employed": True,
        "address": ["France","Gironde","Bordeaux"],
    },
    {
        "name": "James",
        "age": 22,
        "weight": 75.9,
        "is_employed": False,
        "address": ["France","Alpes Maritime","Nice"],
    },
    {
        "name": "Maeva",
        "age": 78,
        "weight": 54.3,
        "is_employed": False,
        "address": ["France","Loiret","Orléans"],
    },
    {
        "name": "Jennifer",
        "age": 16,
        "weight": 59.8,
        "is_employed": False,
        "address": ["Suisse","Neuchâtel","Neuchâtel"],
    },
]
result_many = db_user.insert_many(documents)
print("IDs inséré pour les nouveaux documents:\n", result_many.inserted_ids)

IDs inséré pour les nouveaux documents:
 [ObjectId('6887889713b2bc57a40b602f'), ObjectId('6887889713b2bc57a40b6030'), ObjectId('6887889713b2bc57a40b6031'), ObjectId('6887889713b2bc57a40b6032'), ObjectId('6887889713b2bc57a40b6033')]

## 3. Les opérateurs `$eq` et `$ne`

Les deux premiers opérateurs équivalent à demander l'égalité ou l'inégalité simple dans une requête. Ils s'invoquent via le schéma suivant:

`{ <field>: { $eq: <value> } }`

ou 

`{ <field>: { $ne: <value> } }`

### Exemple sur une chaîne de caractères

In [107]:
db_user.find({"name": {"$eq": "Paul"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

À noter que ceci est équivalent au requêtage simple

In [108]:
db_user.find({"name": "Paul"}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

Logiquement, l'opérateur `$ne` renvoit les autres documents

In [109]:
db_user.find({"name": {"$ne": "Paul"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un entier

In [110]:
db_user.find({"age": {"$eq": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

À noter que ceci est équivalent au requêtage simple

In [111]:
db_user.find({"age": 32}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

Logiquement, l'opérateur `$ne` renvoit les autres documents

In [112]:
db_user.find({"age": {"$ne": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un nombre réel

In [113]:
db_user.find({"weight": {"$eq": 79.3}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

À noter que ceci est équivalent au requêtage simple

In [114]:
db_user.find({"weight": 79.3}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

Note: les nombres réelles ont une certaine précision, étant donné la façon dont ils sont encodés en mémoire. Ainsi, la requête suivante renvoit une liste vide...

In [115]:
db_user.find({"weight": 79.3000001}).to_list()

[]

... tandis que celle-ci renvoit bien un document

In [116]:
db_user.find({"weight": 79.300000000000001}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

Logiquement, l'opérateur `$ne` renvoit les autres documents

In [117]:
db_user.find({"weight": {"$ne": 79.3}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un booléen

In [118]:
db_user.find({"is_employed": {"$eq": True}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']}]

À noter que ceci est équivalent au requêtage simple

In [119]:
db_user.find({"is_employed": True}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']}]

Logiquement, l'opérateur `$ne` renvoit les autres documents

In [120]:
db_user.find({"is_employed": {"$ne": True}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur une liste

In [121]:
db_user.find({"address": {"$eq": ["France", "Nord", "Lille"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

In [122]:
db_user.find({"address": {"$eq": ["France", "Nord"]}}).to_list()

[]

À noter que ceci est équivalent au requêtage simple

In [123]:
db_user.find({"address": ["France", "Nord", "Lille"]}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']}]

Logiquement, l'opérateur `$ne` renvoit les autres documents

In [124]:
db_user.find({"address": {"$ne": ["France", "Nord", "Lille"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

## 4. Les opérateurs `$gt`, `$lt`, `$gte` et `$lte`

Ces opérateurs permettent de faire la comparaison de valeurs en suivant un ordre logique suivant le type de donnée. Ils s'invoquent via le schéma suivant:

`{ <field>: { $gt: <value> } }`

ou 

`{ <field>: { $gte: <value> } }`

ou 

`{ <field>: { $lt: <value> } }`

ou 

`{ <field>: { $lte: <value> } }`

## 4.1 Plus grand que `$gt`, plus grand que ou égal à `$gte`

### Exemple sur une chaîne de caractères

In [125]:
db_user.find({"name": {"$gt": "Maeva"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']}]

In [126]:
db_user.find({"name": {"$gte": "Maeva"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

### Exemple sur un entier

In [127]:
db_user.find({"age": {"$gt": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [128]:
db_user.find({"age": {"$gte": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

### Exemple sur un nombre réel

In [129]:
db_user.find({"weight": {"$gt": 65.2}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']}]

In [130]:
db_user.find({"weight": {"$gte": 65.2}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']}]

### Exemple sur un booléen

In [131]:
db_user.find({"is_employed": {"$gt": False}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']}]

In [132]:
db_user.find({"is_employed": {"$gte": False}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

À noter que les booléens étant associé à False:0 et True:1, l'ordre est logiquement établi ainsi.

### Exemple sur un vecteur

In [133]:
db_user.find({"address": {"$gt": ["France", "Loiret", "Orléans"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [134]:
db_user.find({"address": {"$gte": ["France", "Loiret", "Orléans"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [135]:
db_user.find({"address": {"$gt": ["France"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

## 4.2 Plus petit que `$lt`, plus petit que ou égal à `$lte`

### Exemple sur une chaîne de caractères

In [136]:
db_user.find({"name": {"$lt": "Maeva"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [137]:
db_user.find({"name": {"$lte": "Maeva"}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un entier

In [138]:
db_user.find({"age": {"$lt": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [139]:
db_user.find({"age": {"$lte": 32}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un nombre réel

In [140]:
db_user.find({"weight": {"$lt": 65.2}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [141]:
db_user.find({"weight": {"$lte": 65.2}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un booléen

In [142]:
db_user.find({"is_employed": {"$lt": False}}).to_list()

[]

In [143]:
db_user.find({"is_employed": {"$gte": False}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

À noter que les booléens étant associé à False:0 et True:1, l'ordre est logiquement établi ainsi.

### Exemple sur un vecteur

In [144]:
db_user.find({"address": {"$lt": ["France", "Loiret", "Orléans"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']}]

In [145]:
db_user.find({"address": {"$lte": ["France", "Loiret", "Orléans"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [146]:
db_user.find({"address": {"$lt": ["France"]}}).to_list()

[]

## 5. Les opérateurs `$in` et `$nin`

Ces deux opérateurs suivants sont un équivalent à `$eq` et `$ne` mais en permettant de spécifier plusieurs valeurs de référence en même temps. Ils s'invoquent via le schéma suivant:

`{ <field>: { $in: [<value1>, <value2>, ...] } }`

ou 

`{ <field>: { $nin: [<value1>, <value2>, ...] } }`

### Exemple sur une chaîne de caractères

In [147]:
db_user.find({"name": {"$in": ["Paul", "Maeva"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [148]:
db_user.find({"name": {"$nin": ["Paul", "Maeva"]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un entier

In [149]:
db_user.find({"age": {"$in": [32, 78]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [150]:
db_user.find({"age": {"$nin": [32, 78]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un nombre réel

In [151]:
db_user.find({"weight": {"$in": [79.3, 54.3]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [152]:
db_user.find({"weight": {"$nin": [79.3, 54.3]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

### Exemple sur un booléen

In [153]:
db_user.find({"is_employed": {"$in": [True, False]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]

In [154]:
db_user.find({"is_employed": {"$nin": [True, False]}}).to_list()

[]

### Exemple sur un vecteur

In [155]:
db_user.find({"address": {"$in": [["France", "Nord", "Lille"], ["France", "Loiret", "Orléans"]]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b602f'),
  'name': 'Paul',
  'age': 32,
  'weight': 79.3,
  'is_employed': True,
  'address': ['France', 'Nord', 'Lille']},
 {'_id': ObjectId('6887889713b2bc57a40b6032'),
  'name': 'Maeva',
  'age': 78,
  'weight': 54.3,
  'is_employed': False,
  'address': ['France', 'Loiret', 'Orléans']}]

In [156]:
db_user.find({"address": {"$nin": [["France", "Nord", "Lille"], ["France", "Loiret", "Orléans"]]}}).to_list()

[{'_id': ObjectId('6887889713b2bc57a40b6030'),
  'name': 'Maria',
  'age': 52,
  'weight': 65.2,
  'is_employed': True,
  'address': ['France', 'Gironde', 'Bordeaux']},
 {'_id': ObjectId('6887889713b2bc57a40b6031'),
  'name': 'James',
  'age': 22,
  'weight': 75.9,
  'is_employed': False,
  'address': ['France', 'Alpes Maritime', 'Nice']},
 {'_id': ObjectId('6887889713b2bc57a40b6033'),
  'name': 'Jennifer',
  'age': 16,
  'weight': 59.8,
  'is_employed': False,
  'address': ['Suisse', 'Neuchâtel', 'Neuchâtel']}]