# Expression Operators — MongoDB

Ce notebook est dédié aux **opérateurs d'expression MongoDB**.  
Il a été fait pour un travail en groupe.

Chaque membre peut compléter une section en ajoutant :
- Une explication simple
- Un exemple compréhensible par un non-technicien
- Une requête d’agrégation MongoDB illustrant l’opérateur

---

In [ ]:
#Code à ajouter

## Opérateur `$sum`

L’opérateur `$sum` permet d’additionner des valeurs.

---

In [ ]:
#Code à ajouter

## Opérateur `$avg`

L’opérateur `$avg` calcule la moyenne de plusieurs valeurs numériques.

---

In [ ]:
#Code à ajouter

## Opérateur `$min`

L’opérateur `$min` retourne la valeur la plus petite d’un groupe.

---

In [ ]:
#Code à ajouter

## Opérateur `$max`

L’opérateur `$max` retourne la valeur la plus grande d’un groupe.

---

In [ ]:
#Code à ajouter

## Opérateur `$first`

L’opérateur `$first` retourne le premier document ou la première valeur d’un groupe, selon l’ordre d’arrivée.

---

In [ ]:
#Code à ajouter

## Opérateur `$last`

L’opérateur `$last` retourne le dernier document ou la dernière valeur d’un groupe, selon l’ordre d’arrivée.

---

In [ ]:
#Code à ajouter

## Opérateur `$concat`

L’opérateur `$concat` permet de fusionner plusieurs chaînes de caractères.

---

In [ ]:
#Code à ajouter

## Opérateur `$substr`

L’opérateur `$substr` permet d’extraire une sous-chaîne à partir d’une chaîne de caractères.

---

In [ ]:
#Code à ajouter

## Opérateur `$toInt`

L’opérateur `$toInt` permet de convertir une valeur en entier (integer).

---

In [ ]:
#Code à ajouter

## Opérateur `$toDouble`

L’opérateur `$toDouble` permet de convertir une valeur en nombre décimal (float).

---

In [3]:
#Code à ajouter

---

## Conclusion